.footer {
  background: #0169D6;
  color: #FFF;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 50px;
}

.footer ul li:last-child {
  margin-right: 0;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding: 20px;
    flex-direction: column;
  }

  .footer ul li {
    margin-right: 32px;
  }

  .footer .logo img {
    width: 200px;
  }
}