.livro {
  position: relative;
  width: 280px;
  margin: 10px;
  transition: 0.7s;
}
.livro:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
}

.livro .cabecalho {
  background-color:  #F0F0F0;
  border-radius: 10px 10px 0px 0px;
  height: 130px;
}

.livro img {
  width: 100px;
  height: auto;
  position: relative;
  bottom: -50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
  transition: 0.7s;
}

.livro img:hover {
  transform: scale(1.5) translateY(-25px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16), 0 10px 15px rgba(0, 0, 0, 0.23);
  transition: 0.7s;
}

.livro .rodape {
  height: 140px;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.livro .rodape h4 {
  color: #0169D6;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 0px 13px;
  margin: 10px 0px;

}

.livro .rodape h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  margin: 0px;
  padding: 0 16px;
}

.deletar {
  position: absolute;
  right: -10px;
  top: -10px;
}

.comprar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #0169D6;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}