.formulario-container {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.formulario-container .formulario {
  max-width: 80%;
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0), 0.08;
}

.formulario-container .formulario h2 {
  font-weight: 400;
  font-size: 32px;
}

@media only screen and (max-width: 1000px) {
  .formulario-container .formulario {
    padding: 10px 15px;
  }

  .formulario input{
    font-size: 14px;
  }

  .formulario label, .formulario select {
    font-size: 18px;
  }

  .formulario-container .formulario h2 {
    font-size: 22px;
  }
}