body {
  margin: 0;
  /* padding: 0; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Prata', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edicao {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: #0169D6;
  border-bottom: 4px solid #0169D6;
  display: inline-block;
  padding-bottom: 15px;
  margin: 32px 0 32px 0;
}

h1, h2 {
  font-family: 'Prata', serif;
}